@{
    Layout = null;
}

<!DOCTYPE HTML>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Develop future together!</title>

    <link href="~/Styles/style.css" rel="stylesheet" />

    @RenderSection("HeadStyles", false)

    <script src="~/Scripts/Libs/angularjs/angular.js"></script>
    <script src="~/Scripts/Libs/jQuery/jquery-2.1.4.js"></script>

    @RenderSection("HeadScripts", false)

</head>
<body>
    <header>
        @RenderSection("Header", false)
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        @RenderSection("Footer", false)
    </footer>
    @RenderSection("FootScripts", false)
</body>
</html>
